.example {
	-webkit-transform: rotate(30deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
	-ms-transform: rotate(30deg); /* IE 9 */
	transform: rotate(30deg); /* IE 10, Fx 16+, Op 12.1+ */
	width:2px;
	height:2px;
	background-color: red;
}

div#SomeElementYouWantToAnimate {
	width:20px;
	height:20px;
	background-color: purple;
}